* {box-sizing: border-box;}

html {
    font-size: $Font-size-form-inputs;
}

body {
    color: $Strong-cyan ;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: $Weights ;
}

button {
    cursor: pointer;
}

.B-wrapper {
    display: grid;
}